 @import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

/* Common */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video{margin: 0;padding: 0;border: 0;font-size: 100%;font:inherit;vertical-align: baseline;font-family:'NanumGothic','Malgun Gothic', sans-serif; letter-spacing:-0.5px;font-style:normal}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;}
body {line-height:1;}
ol, ul {list-style:none;}
table {border-collapse:collapse; border-spacing:0;}
a{text-decoration:none;}
a:hover,a:active,a:focus{text-decoration:none;}
table{border-spacing:0;border-collapse:collapse;}
input,select,button{vertical-align:middle; outline:none;}
select{-webkit-appearance: none;-moz-appearance: none;appearance: none;}
select::-ms-expand { display: none; }
input[type="text"]{-webkit-appearance: none;-moz-appearance: none;appearance: none;}

/* 선택 */
*::selection{background-color:rgba(30,150,222,1); color:#fff;}

#header{height:273px; background:url(../image/header_bg.jpg) no-repeat 50% 0;}
.header_inner{width:1200px; margin:0 auto; padding-top:50px;}
.header_inner h1{position:absolute;width:242px;left:50%;margin-left:-121px;}
.header_inner .header_sns{float:left;}
.header_inner .header_sns ul li{float:left; border:1px solid #c7c7c7; border-right:0;}
.header_inner .header_sns ul li:last-child{border-right:1px solid #c7c7c7}
.header_inner .header_sns ul li a{display: block; padding:1px; transition:0.3s;}
.header_inner .header_sns ul li a:hover{background:#eee;}
.header_inner .header_tel{float:right; text-align:center;}
.header_inner .header_tel ul li.home_btn{margin:10px 1px 0 0;padding-right:8px;}
.header_inner p{margin-top:130px; text-align: center;}
#popup{position:absolute; z-index: 1000; left:50%;top:190px; margin-left:-690px;box-shadow:10px 10px 30px rgba(0,0,0,0.4); border-radius:100%; font-size:0; line-height:0;background: #111;}
.pop_close{position:absolute; width:29px;height: 29px;right:0; top:0; z-index: 1010;box-shadow:10px 10px 30px rgba(0,0,0,0.4);border-radius:100%; cursor:pointer}
.move_pop{animation:move 0.6s 0s infinite ease-out alternate;}
@keyframes move {
	0%{margin-top:20px;}
	100%{margin-top:0;}
}

#content{min-width:1200px;margin: 0 auto; text-align: center;}
.content_inner{width:1200px; margin:0 auto;}
#content .main1{height:615px; padding-top:190px; background:url(../image/main1_bg_new.jpg) no-repeat 50% 0;}
#content .main1 span{display: block; margin-bottom:16px;}
#content .main1 h2{margin-bottom:32px;}
#content .main2{height:920px; background:url(../image/main2_bg.jpg) no-repeat 50% 0;}
#content .main3{height:1496px; background:url(../image/main3_bg.jpg) no-repeat 50% 0;}
#content .main4{height:2154px; background:url(../image/main4_bg.jpg) no-repeat 50% 0;}
#content .main5{height:1103px; background:url(../image/main5_bg.jpg) no-repeat 50% 0;}
#content .main6{height:900px; background:url(../image/main6_bg.jpg) no-repeat 50% 0;}
#content .main7{height:809px; background:url(../image/main7_bg_new.jpg) no-repeat 50% 0;}
/* 레이어팝업 */
.layer{position:fixed; display:none; left:0;top:180px; z-index:3000000; width:100%;}
.layer .close_btn{position:absolute; overflow: hidden; right:0; top:0;background:#111;}
.layer .close_btn a{ display: block;padding:12px 16px; border-radius:0 10px 0 10px; color: #fff;}
.layer .layer_wrap{position:relative;width:100%; max-width:700px; top:0px; margin:0 auto; border-radius:10px; background: #fff; text-align:left; letter-spacing:-0.5px; box-shadow:0 0 50px rgba(0,0,0,0.6);}
.layer .layer_wrap .DB_info_detail{width:100%;  margin:18px auto; padding-bottom:16px; line-height:18px; color: #333;font-size:12px;}
.layer .layer_wrap .DB_info_detail h2{padding:28px 20px;border-bottom:1px solid #eee; font-size:21px; font-weight:bold;}
.layer .layer_wrap .DB_info_detail .DB_info_detail_wrap p{padding:8px;margin-bottom:12px; font-size:13px;}
.layer .layer_wrap .DB_info_detail .DB_info_detail_wrap{width:98%; height:360px; padding:8px 16px; overflow:auto; box-sizing:border-box;}
.layer .layer_wrap .DB_info_detail .DB_info_detail_wrap dl dt{display:block; background: #eee;border-radius:3px; padding:7px 10px; font-weight: bold;}
.layer .layer_wrap .DB_info_detail .DB_info_detail_wrap dl dd{margin-bottom:16px; padding:4px 12px; box-sizing:border-box;}

#footer{background:#222; text-align:center;  padding:60px 0; }
#footer address{color: #fff; text-align:center; font-size: 12px; line-height:1.6; color: #bbb; opacity: 0.9; letter-spacing:0px;}
#footer address span{display: inline-block; margin:0 12px; color: #555;}
#footer address strong{color: #eee;font-weight:bold;}
#footer small{display: block;margin-top:24px;color: #fff; font-size:10px;  letter-spacing:1px; opacity: 0.5;}